<!DOCTYPE html>
<html lang="ko">
<head>

    <title>Samsung</title>
    <meta name="title" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <meta name="keywords" content="">
    <meta name="description" content="">

    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Samsung">
    <meta property="og:locale" content="ko">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:country-name" content="">

    <meta itemprop="name" content="Samsung">
    <meta itemprop="image" content="">
    <meta itemprop="url" content="">
    <meta itemprop="description" content="">
    <meta itemprop="keywords" content="">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script type="text/javascript" src="/js/ios_scalable.js"></script>
    <script type ="text/javascript" src="/js/jquery-1.11.2.min.js"></script>

    <script type ="text/javascript">
        $(function() {
            $("#btn_confirm").click(
                function() {
                    if (confirm("장바구니를 모두 비우시겠습니까?") == true) {
                        $.ajax({
                            url: 'http://nbnl.couphone.cn:8080/shopping/shoppingDeleteAll?wechat_id=jaeleeman1',
                            //url: 'http://localhost:8080/shopping/shoppingDeleteAll?wechat_id=jaeleeman1',
                            type: 'POST',
                            success: function(data) {
                                //console.log("data : ", data);
                                window.location.href = "http://localhost:8080/shopping";
                            },
                            error: function(request, status, error) {
                                console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                                console.log('Error occured');
                            }
                        })
                    } else {
                        return;
                    }
                }
            );
        });
    </script>

</head>

<body id="EBEBEB">
<div id="container">
    <a href="javascript:history.back()"><p class="back_arrow"><img src="/images/btn_back_w@3x.png"></p></a>
    <div id="header">
        <span class="part"></span><span class="head_ti">장바구니</span>
    </div>

    <div id="shopping_buy_wrap">
        <% var prdctSum = 0 %>
        <% for(var i = 0; i < data.length; i++) { %>
            <% prdctSum += (data[i].PRICE * data[i].SHOPPING_CNT) %>
            <div class="buy_wrap">
                <img src="/images/photo_buy_0<%=i+1%>.png" class="photo_buy" onclick="location.href='/shopping/shoppingDetail?wechat_id=jaeleeman1&prdct_id=<%= data[i].PRDCT_ID%>'">
                <a href = "/shopping/shoppingDetail?wechat_id=jaeleeman1&prdct_id=<%= data[i].PRDCT_ID%>" />
                    <ul>
                        <li class="name"><%= data[i].PRDCT_NM %><li>
                        <li class="price">￥<%= data[i].PRICE %> / <%= data[i].SHOPPING_CNT %>개<li>
                    </ul>
                <a href="#"><img src="/images/ic_card_add@3x.png" class="ic_card" onclick="location.href='/shopping/shoppingSetting?wechat_id=jaeleeman1&prdct_id=<%= data[i].PRDCT_ID%>&prdct_cnt=<%= data[i].SHOPPING_CNT %>'"></a>
                <div class="clear_both"></div>
            </div>
        <% } %>
    </div>
    <!-- 하단버튼 -->
    <div id="btn_cart">
        <div class="total_wrap">합계<span class="right">￥<%= prdctSum%></span></div>
        <a href="#"><div class="view_product" id="btn_confirm">장바구니 비우기</div></a>
        <a href="#"><div class="price_buy">구매하기</div></a>
    </div>

</div>
</body>

</html>