<!DOCTYPE html>
<html lang="ko" id="wrapper">
<head>

    <title>쇼핑 목록</title>
    <meta name="title" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <meta name="keywords" content="">
    <meta name="description" content="">

    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Samsung">
    <meta property="og:locale" content="ko">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:country-name" content="">

    <meta itemprop="name" content="Samsung">
    <meta itemprop="image" content="">
    <meta itemprop="url" content="">
    <meta itemprop="description" content="">
    <meta itemprop="keywords" content="">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/popup.css" type="text/css">
    <script type="text/javascript" src="/js/ios_scalable.js"></script>
    <script type ="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
    <script type ="text/javascript" src="/js/popup.js"></script>
    <script type ="text/javascript" src="/js/toastr.js"></script>
    <script src="http://52.79.56.181:8060/socket.io/socket.io.js"></script>

    <script type ="text/javascript">
        var socket = io.connect('http://52.79.56.181:8060');
        var buyIncreaseCount = 0;
	
        $( document ).ready(function() {
            if(performance.navigation.type != 1) {
                location.reload();
            }

            if($("#buySum_price").val() == '0') {
                var btnConfirm = document.getElementById("btn_confirm");
                btnConfirm.removeAttribute("id");
                btnConfirm.innerHTML = '<span class="ic_price" id="btn_confirm">￥ <%= buySumPrice %> 구매</span></div></a>';
            }
        });

        $(function() {
            var wechatId = $("#wechat_id").val();
            var buySum = $("#btn_confirm").text();
//            console.log('url' + $("#url").val());
            if($("#buySum_price").val() != '0') {
                $("#btn_confirm").click(
                    function() {
                        openLayer('layerPurchasePop',300,50);
                    }
                );
            }

            $("#btn_purchase_confirm").click(
                function() {
                    var openId = $("#open_Id").val();
                    var length = $("#length").val();
                    var Prdct_Nm = [];
                    var Prdct_Cnt = [];
                    var Price = [];

                    for(var i = 0; i< length; i++) {
                        if(i != length-1) {
                            Prdct_Nm += JSON.stringify($("#prdct_nm_"+i).val()) + ", ";
                            Prdct_Cnt += JSON.stringify($("#prdct_cnt_"+i).val()) + ", ";
                            Price += JSON.stringify($("#price_"+i).val()) + ", ";
                        }else {
                            Prdct_Nm += JSON.stringify($("#prdct_nm_"+i).val());
                            Prdct_Cnt += JSON.stringify($("#prdct_cnt_"+i).val());
                            Price += JSON.stringify($("#price_"+i).val());
                        }
                    }
                    
                    if(length == 1) {
                        var dataStr = '{"User_Open_Id":"' + openId +'", ' +
                            '"Prdct_Nm":' + Prdct_Nm +', ' +
                            '"Prdct_Cnt":' + Prdct_Cnt +', ' +
                            '"Price":' + Price +', ' +
                            '"Length":' + length +
                            '}';
                    } else {
                        var dataStr = '{"User_Open_Id":"' + openId +'", ' +
                            '"Prdct_Nm":[' + Prdct_Nm +'], ' +
                            '"Prdct_Cnt":[' + Prdct_Cnt +'], ' +
                            '"Price":[' + Price +'], ' +
                            '"Length":' + length +
                            '}';
                    }

                    $.ajax({
                        url: $("#url").val()+'/wechat/shoppingResultSend',
                        type: 'POST',
                        traditional:true,
                        data: JSON.parse(dataStr),
                        success: function(data) {
                            console.log("*** success shoppingBuyList *** - wechatId : " + wechatId);
                            var dataString = {'wechat_id': wechatId};
                            var purchaItem;
                            if(length == 1) {
                                purchaItem = Prdct_Nm + ': ' + Prdct_Cnt + '개 구입';
                            }else {
                                purchaItem = '"'+$("#prdct_nm_0").val() + '": "' + $("#prdct_cnt_0").val() + '"개 외에 여러개 구입';
                            }

                            var content = {
                                fromNickName : '',
                                toNickName : wechatId,
                                contentType : 'text',
                                contents : '쇼핑 상품 구입',//purchaItem,
                                type : 'saveMsg'
                            };

                            socket.emit('nbnlServer', content);

                            $.ajax({
                                url: $("#url").val()+'/shopping/shoppingDeleteAll',
                                type: 'POST',
                                dataType: 'json',
                                data: dataString,
                                success: function(data) {
                                    closeLayer('layerPurchasePop');
                                    console.log("*** delete shoppingBuyList *** - wechatId : " + wechatId);                            
                                },
                                error: function(request, status, error) {
                                    console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                                    console.log('Error occured');
                                }
                            })
                            console.log("*** success shoppingBuyList *** - wechatId : " + wechatId);
        			        location.reload();
//                                $.ajax({
//                                    url: $("#url").val()+'/shopping/shoppingInsertHistory',
//                                    type: 'POST',
//                                    dataType: 'json',
//                                    data: JSON.parse(dataStr),
//                                   success: function(data) {
//                                        console.log("*** insert shoppingBuyHistory *** - wechatId : " + wechatId);
//                                   },
//                                    error: function(request, status, error) {
//                                        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
//                                        console.log('Error occured');
//                                    }
//                                })
                        },
                        error: function(request, status, error) {
                            console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                            console.log('Error occured');
                        }
                    })
                }
            );

            $("#btn_plus").click(
                function() {
                    var cnt =$("#set_cnt").text();
                    cnt++;
                    $("#set_cnt").text(cnt);
                    $("#prdct_cnt").val(cnt);
                }
            );

            $("#btn_minus").click(
                function() {
                    var cnt =$("#set_cnt").text();
                    cnt--;
                    if(cnt > 0) {
                        $("#set_cnt").text(cnt);
                        $("#prdct_cnt").val(cnt);
                    }else {
                        alert('상품은 1개 이상 선택해야 합니다.');
                    }
                }
            );

            $("#btn_set_confirm").click(
                function() {

                    $("#set_cnt").text("1");

                    var buySumPrice = Number($("#buySum_price").val());
                    var selectPrdctId =$("#prdct_id").val();
                    var selectPrdctNm = $("#prdct_nm").val();
                    var selectPImage =$("#image").val();
                    var selectPrdctCnt = Number($("#prdct_cnt").val());
                    var selectPrice = Number($("#price").val());
                    var result = buySumPrice + (selectPrdctCnt*selectPrice);
                    $("#buySum_price").val(result);

                    var dataString = '{"wechat_id":"' + wechatId +'", ' +
                        '"prdct_id":"' + selectPrdctId +'", ' +
                        '"prdct_nm":"' + selectPrdctNm +'", ' +
                        '"image":"' + selectPImage +'", ' +
                        '"prdct_cnt":"' + selectPrdctCnt +'", ' +
                        '"price":' + selectPrice + '}';
                    $.ajax({
                        url: $("#url").val()+'/shopping/shoppingBuyInsert',
                        type: 'POST',
                        traditional:true,
                        data: JSON.parse(dataString),
                        success: function(data) {
                            var buyCount =$("#length").val();
                            if(buyCount != 0) {
                                buyIncreaseCount = buyCount;
                            }

                            if(data.dataCheck == 0) {
                                buyCount++;
                            }
                            $("#length").val(buyCount);

                            var btnCount = document.getElementById("btn_count");
                            btnCount.innerHTML = '<span class="ic_buy"><img src="/images/btn_ic_buy@3x.png"></span>상품 '+ buyCount + '종';

                            $('#list_setting').append('<input type="hidden" name="prdct_nm_'+buyIncreaseCount+'" id="prdct_nm_'+buyIncreaseCount+'" value="'+selectPrdctNm+'"/>' +
                                '<input type="hidden" name="prdct_cnt_'+buyIncreaseCount+'" id="prdct_cnt_'+buyIncreaseCount+'" value="'+selectPrdctCnt+'"/>' +
                                '<input type="hidden" name="price_'+buyIncreaseCount+'" id="price_'+buyIncreaseCount+'" value="'+selectPrice+'"/>');
                            buyIncreaseCount++;
                            console.log("*** insert shoppingBuyInsert *** - wechatId : " + wechatId);
                        },
                        error: function(request, status, error) {
                            console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                            console.log('Error occured');
                        }
                    });

                    var btnConfirm = document.getElementById("btn_confirm");

                    if(buySumPrice == 0) {
                        var parentNode = btnConfirm.parentNode.parentNode;
                        parentNode.innerHTML = '<div class="price_buy" id="btn_confirm"><span class="ic_price">￥ '+ result + '</span>구매</div>'

                        $("#btn_confirm").click(
                            function() {
                                openLayer('layerPurchasePop',300,50);
                            }
                        );
                    }else {
                        btnConfirm.innerHTML = '<span class="ic_price">￥ '+ result + '</span>구매';
                    }

                    initCloseLayer('layerPop');
                    toastPopup();
                }
            );

            $("#btn_count").click(
                function() {
                    if($("#buySum_price").val() == '0') {
                        $("#buy_empty").submit();
                    }else {
                        $("#buy_list").submit();
                    }
                }
            );
        });

        function dataMatch(prdctId, prdctNm, imgData, price) {
            $("#prdct_id").val(prdctId);
            $("#prdct_nm").val(prdctNm);
            $("#image").val(imgData);
            $("#price").val(price);
        }

        function toastPopup() {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-center",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr.info('장바구니에 상품이 담겼습니다.');
        }
    </script>
</head>
<form action="/" method="get" style="display:none" name="list_setting" id="list_setting">
    <input type="hidden" name="open_Id" id="open_Id" value="<%= openId %>"/>
    <input type="hidden" name="wechat_id" id="wechat_id" value="<%= wechatId %>"/>
    <input type="hidden" name="url" id="url" value="<%= url %>"/>
    <input type="hidden" name="length" id="length" value="<%= buyData.length %>"/>
    <input type="hidden" name="buySum_price" id="buySum_price" value="<%= buySumPrice %>"/>
    <input type="hidden" name="data_check" id="data_check" value="<%= dataCheck %>"/>
    <% for(var i = 0; i < buyData.length; i++) { %>
        <input type="hidden" name="prdct_nm_<%=i%>" id="prdct_nm_<%=i%>" value="<%= buyData[i].PRDCT_NM %>"/>
        <input type="hidden" name="prdct_cnt_<%=i%>" id="prdct_cnt_<%=i%>" value="<%= buyData[i].SHOPPING_CNT %>"/>
        <input type="hidden" name="price_<%=i%>" id="price_<%=i%>" value="<%= buyData[i].PRICE %>"/>
    <% } %>
</form>

<form action="/shopping/shoppingBuyInsert" method="get" style="display:none" name="buy_setting" id="buy_setting">
    <input type="hidden" name="wechat_id" id="wechat_id" value="<%= wechatId %>"/>
    <input type="hidden" name="prdct_id" id="prdct_id" value=""/>
    <input type="hidden" name="prdct_nm" id="prdct_nm" value=""/>
    <input type="hidden" name="image" id="image" value=""/>
    <input type="hidden" name="prdct_cnt" id="prdct_cnt" value="1"/>
    <input type="hidden" name="price" id="price" value=""/>
</form>

<form action="/shopping/shoppingBuyList" method="get" style="display:none" name="buy_list" id="buy_list">
    <input type="hidden" name="wechat_id" id="wechat_id" value="<%= wechatId %>"/>
</form>

<form action="/shopping/shoppingEmpty" method="get" style="display:none" name="buy_empty" id="buy_empty">
</form>

<body>
<div id="container">
    <!--a href="javascript:history.back()"><p class="back_arrow"><img src="/images/btn_back_w@3x.png"></p></a>
    <div id="header">
        <span class="part"></span><span class="head_ti">쇼핑</span>
    </div>-->
    <!-- Shopping list -->
    <div id="shopping_buy_wrap">
        <% for(var i = 0; i < data.length; i++) { %>
            <div class="buy_wrap">
                <img src="<%= data[i].IMG_URL %>" class="photo_buy" onclick="location.href='/shopping/shoppingDetail?wechat_id=<%= wechatId %>&prdct_id=<%= data[i].PRDCT_ID%>'">
                <a href = "/shopping/shoppingDetail?wechat_id=<%= wechatId %>&prdct_id=<%= data[i].PRDCT_ID%>" />
                    <ul>
                        <li class="name"><%= data[i].PRDCT_NM %><li>
                        <li class="price">￥<%= data[i].PRICE %><li>
                    </ul>
                    <a href="#"><img src="/images/ic_card_add@3x.png" class="ic_card" onclick="openLayer('layerPop',300,50);dataMatch('<%= data[i].PRDCT_ID%>','<%= data[i].PRDCT_NM %>','<%= data[i].IMG_URL %>','<%= data[i].PRICE %>');"></a>
                    <div class="clear_both"></div>
            </div>
        <% } %>
    </div>

    <!-- 팝업 설정 -->
    <div id="layerPop">
        <div class="pop_up_body">
            <p class="ti">개수 설정<p>
            <div class="set_num">
                <ul>
                    <li class="fir"><a href="#"><img src="/images/ic_popup_minus.png" id="btn_minus"></a></li>
                    <li class="sec" id="set_cnt">1</li>
                    <li class="thi"><a href="#"><img src="/images/ic_popup_plus.png" id="btn_plus"></a></li>
                </ul>
                <ul class="clear_both"></ul>
            </div>
            <p class="btn_txt"><a href="#" onclick="initCloseLayer('layerPop')"><span>취소</span></a><a href="#"><span class="confirm" id="btn_set_confirm">확인</span></a></p>
        </div>
    </div>

    <div id="layerPurchasePop">
        <div class="pop_up_body">
            <p class="ti">구매<p>
            <p class="copy">장바구니의 상품을 주문하시겠습니까?</p>
            <p class="btn_txt_nor mt20"><a href="#" onclick="initCloseLayer('layerPurchasePop')"><span>취소</span></a><a href="#"><span class="confirm" id="btn_purchase_confirm">확인</span></a></p>
        </div>
    </div>

    <!-- 하단버튼 -->
    <div id="btn_buy">
        <a href="#"><div class="view_product" id="btn_count"><span class="ic_buy"><img src="/images/btn_ic_buy@3x.png"></span>상품 <%= buyCnt %>종</div></a>
        <a href="#"><div class="price_buy" id="btn_confirm"><span class="ic_price">￥ <%= buySumPrice %></span>구매</div></a>
    </div>
</div>
</body>

</html>
