<!DOCTYPE html>
<html lang="ko" id="wrapper">
<head>

    <title>장바구니</title>
    <meta name="title" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <meta name="keywords" content="">
    <meta name="description" content="">

    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Samsung">
    <meta property="og:locale" content="ko">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:country-name" content="">

    <meta itemprop="name" content="Samsung">
    <meta itemprop="image" content="">
    <meta itemprop="url" content="">
    <meta itemprop="description" content="">
    <meta itemprop="keywords" content="">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/popup.css" type="text/css">
    <script type="text/javascript" src="/js/ios_scalable.js"></script>
    <script type ="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
    <script type ="text/javascript" src="/js/popup.js"></script>
    <script src="http://52.79.56.181:8060/socket.io/socket.io.js"></script>

    <script type ="text/javascript">
        var socket = io.connect('http://52.79.56.181:8060');
        $( document ).ready(function() {
            if(performance.navigation.type != 1) {
                location.reload();
            }

            var length = $("#length").val();
            if(length == 0) {
                changeEmptyAttr();
            }
        });

        $(function() {
            var wechatId = $("#wechat_id").val();
            var buyLength = $("#length").val();

            $("#btn_delete_all_popup").click(
                function() {
                    openLayer('layerAllDelPop',300,50);
                }
            );
            
            $("#btn_delete_all_confirm").click(
                function() {
                    var dataString = {'wechat_id': wechatId};                    

                    $.ajax({
                        url: $("#url").val()+'/shopping/shoppingDeleteAll',
                        type: 'POST',
                        dataType: 'json',
                        data: dataString,
                        success: function(data) {
                            console.log("*** delete all shoppingBuyList ***");
                            changeEmptyAttr();
                            closeLayer('layerAllDelPop');
                        },
                        error: function(request, status, error) {
                            console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                            console.log('Error occured');
                        }
                    })
                }
            );

            $("#btn_confirm").click(
                function() {
                    openLayer('layerPurchasePop',300,50);
                }
            );

            $("#btn_purchase_confirm").click(
                function() {
                    var openId = $("#open_Id").val();
                    var length = $("#length").val();
                    var Prdct_Nm = [];
                    var Prdct_Cnt = [];
                    var Price = [];

                    for(var i = 0; i< length; i++) {
                        if(i != length-1) {
                            Prdct_Nm += JSON.stringify($("#prdct_nm_"+i).val()) + ", ";
                            Prdct_Cnt += JSON.stringify($("#prdct_cnt_"+i).val()) + ", ";
                            Price += JSON.stringify($("#price_"+i).val()) + ", ";
                        }else {
                            Prdct_Nm += JSON.stringify($("#prdct_nm_"+i).val());
                            Prdct_Cnt += JSON.stringify($("#prdct_cnt_"+i).val());
                            Price += JSON.stringify($("#price_"+i).val());
                        }
                    }
                    
                    if(length == 1) {
                        var dataStr = '{"Wechat_Id":"' + wechatId +'", ' +
                            '"User_Open_Id":"' + openId +'", ' +
                            '"Prdct_Nm":' + Prdct_Nm +', ' +
                            '"Prdct_Cnt":' + Prdct_Cnt +', ' +
                            '"Price":' + Price +', ' +
                            '"Length":' + length +
                            '}';
                    } else {
                        var dataStr = '{"Wechat_Id":"' + wechatId +'", ' +
                            '"User_Open_Id":"' + openId +'", ' +
                            '"Prdct_Nm":[' + Prdct_Nm +'], ' +
                            '"Prdct_Cnt":[' + Prdct_Cnt +'], ' +
                            '"Price":[' + Price +'], ' +
                            '"Length":' + length +
                            '}';
                    }

                    $.ajax({
                        url: $("#url").val()+'/wechat/shoppingResultSend',
                        type: 'POST',
                        traditional:true,
                        data: JSON.parse(dataStr),
                        success: function(data) {
                            var dataString = {'wechat_id': wechatId};

                            var purchaItem;
                            if(length == 1) {
                                purchaItem = Prdct_Nm + ': ' + Prdct_Cnt + '개 구입';
                            }else {
                                purchaItem = '"'+$("#prdct_nm_0").val() + '": "' + $("#prdct_cnt_0").val() + '"개 외에 여러개 구입';
                            }

                            var content = {
                                fromNickName : '',
                                toNickName : wechatId,
                                contentType : 'text',
                                contents : '쇼핑 상품 구입',//purchaItem,
                                type : 'saveMsg'
                            };

                            socket.emit('nbnlServer', content);

                            $.ajax({
                                url: $("#url").val()+'/shopping/shoppingDeleteAll',
                                type: 'POST',
                                dataType: 'json',
                                data: dataString,
                                success: function(data) {
                                    closeLayer('layerPurchasePop');
                                    console.log("*** delete shoppingBuyList *** - wechatId : " + wechatId);
                                },
                                error: function(request, status, error) {
                                    console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                                    console.log('Error occured');
                                }
                            })
                            console.log("*** success shoppingBuyList *** - wechatId : " + wechatId);
                            window.location.href = $("#url").val()+'/shopping?nick_name='+wechatId;
                        },
                        error: function(request, status, error) {
                            console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                            console.log('Error occured');
                        }
                    })
                }
            );

            $("#btn_delete_confirm").click(
                function() {
                    var length = $("#length").val();
                    length--;
                    $("#length").val(length);
                    if(length == 0) {
                        changeEmptyAttr();
                    }
                    $("#delete_setting").submit();
                    var prdctId = $("#prdct_id").val();
                    $("#buy_wrap_"+ prdctId).remove();
                    closeLayer('layerDelPop');
                }
            );
        });

        function deleteProduct(prdctId) {
            $("#prdct_id").val(prdctId);
        }

        function changeEmptyAttr() {
            var btnCart = document.getElementById("btn_cart");
            var buyWrap = document.getElementById("shopping_buy_wrap");
            $("#EBEBEB").addClass('height100');
            $("#container").addClass('height100');
            $("#shopping_buy_wrap").addClass('body_middle ic_buy_basket_middle');
            $("#prdct_sum").remove();
            btnCart.innerHTML = '<div class="view_product dimmed_btn">장바구니 비우기</div>' +
                '<div class="price_buy dimmed_btn">구매하기</div></a>';
            buyWrap.innerHTML = '<p class="ic_buy_basket"><img src="/images/ic_buy_basket@3x.png"></p>' +
                '<p class="fontsize16 fontmedium dimmed_btn">장바구니가 비었습니다.</p>';
            btnCart.setAttribute("id", "btn_buy");
        }
    </script>

</head>
<form action="/shopping" method="post" style="display:none" name="buy_setting" id="buy_setting">
    <input type="hidden" name="open_Id" id="open_Id" value="<%= openId %>"/>
    <input type="hidden" name="wechat_id" id="wechat_id" value="<%= wechatId %>"/>
    <input type="hidden" name="url" id="url" value="<%= url %>"/>
    <input type="hidden" name="length" id="length" value="<%= data.length %>"/>
    <% for(var i = 0; i < data.length; i++) { %>
        <input type="hidden" name="prdct_nm_<%=i%>" id="prdct_nm_<%=i%>" value="<%= data[i].PRDCT_NM %>"/>
        <input type="hidden" name="prdct_cnt_<%=i%>" id="prdct_cnt_<%=i%>" value="<%= data[i].SHOPPING_CNT %>"/>
        <input type="hidden" name="price_<%=i%>" id="price_<%=i%>" value="<%= data[i].PRICE %>"/>
    <% } %>
</form>

<form action="/shopping/shoppingDeleteProduct" method="post" style="display:none" name="delete_setting" id="delete_setting">
    <input type="hidden" name="wechat_id" id="wechat_id" value="<%= wechatId %>"/>
    <input type="hidden" name="prdct_id" id="prdct_id" value=""/>
</form>

<body id="EBEBEB">
<div id="container">
    <!--<a href="javascript:history.back()"><p class="back_arrow"><img src="/images/btn_back_w@3x.png"></p></a>
    <div id="header">
        <span class="part"></span><span class="head_ti">장바구니</span>
    </div>-->

    <div id="shopping_buy_wrap">
        <% var prdctSum = 0 %>
        <% for(var i = 0; i < data.length; i++) { %>
            <% prdctSum += (data[i].PRICE * data[i].SHOPPING_CNT) %>
            <div class="buy_wrap" id="buy_wrap_<%= data[i].PRDCT_ID %>">
                <img src="<%= data[i].IMG_URL %>" class="photo_buy" onclick="location.href='/shopping/shoppingDetail?wechat_id=<%= wechatId %>&prdct_id=<%= data[i].PRDCT_ID%>'">
                <a href = "/shopping/shoppingDetail?wechat_id=<%= wechatId %>&prdct_id=<%= data[i].PRDCT_ID%>" />
                    <ul>
                        <li class="name"><%= data[i].PRDCT_NM %><li>
                        <li class="price">￥<%= data[i].PRICE %> / <%= data[i].SHOPPING_CNT %>개<li>
                    </ul>
                <a href="#"><img src="/images/ic_card_delete@3x.png" class="ic_card" onclick="openLayer('layerDelPop',300,50);deleteProduct('<%= data[i].PRDCT_ID%>');"></a>
                <div class="clear_both"></div>
            </div>
        <% } %>
    </div>

    <!-- 팝업 설정 -->
    <div id="layerDelPop">
        <div class="pop_up_body">
            <p class="ti">상품 삭제<p>
            <p class="copy">해당 상품을 삭제하시겠습니까?</p>
            <p class="btn_txt_nor mt20"><a href="#" onclick="closeLayer('layerDelPop')"><span>취소</span></a><a href="#"><span class="confirm" id="btn_delete_confirm">확인</span></a></p>
        </div>
    </div>

    <div id="layerAllDelPop">
        <div class="pop_up_body">
            <p class="ti">장바구니 비우기<p>
            <p class="copy">모든 상품을 비우시겠습니까?</p>
            <p class="btn_txt_nor mt20"><a href="#" onclick="closeLayer('layerAllDelPop')"><span>취소</span></a><a href="#"><span class="confirm" id="btn_delete_all_confirm">확인</span></a></p>
        </div>
    </div>

    <div id="layerPurchasePop">
        <div class="pop_up_body">
            <p class="ti">구매<p>
            <p class="copy">전체 <%= data.length %>개 상품을 주문하시겠습니까?</p>
            <p class="btn_txt_nor mt20"><a href="#" onclick="closeLayer('layerPurchasePop')"><span>취소</span></a><a href="#"><span class="confirm" id="btn_purchase_confirm">확인</span></a></p>
        </div>
    </div>
    
    <!-- 하단버튼 -->
    <div id="btn_cart">
        <div class="total_wrap" id="prdct_sum">합계<span class="right">￥<%= prdctSum%></span></div>
        <a href="#"><div class="view_product" id="btn_delete_all_popup">장바구니 비우기</div></a>
        <a href="#"><div class="price_buy" id="btn_confirm">구매하기</div></a>
    </div>

</div>
</body>

</html>
