<!DOCTYPE html>
<html lang="ko" id="wrapper">
<head>

    <title>상품 상세 정보</title>
    <meta name="title" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <meta name="keywords" content="">
    <meta name="description" content="">

    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Samsung">
    <meta property="og:locale" content="ko">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:country-name" content="">

    <meta itemprop="name" content="Samsung">
    <meta itemprop="image" content="">
    <meta itemprop="url" content="">
    <meta itemprop="description" content="">
    <meta itemprop="keywords" content="">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="stylesheet" href="/css/popup.css" type="text/css">
    <script type="text/javascript" src="/js/ios_scalable.js"></script>
    <script type ="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
    <script type ="text/javascript" src="/js/popup.js"></script>
    <script type ="text/javascript" src="/js/toastr.js"></script>
    <script type ="text/javascript">
        $(function() {
            $("#btn_plus").click(
                function() {
                    var cnt =$("#set_cnt").text();
                    cnt++;
                    $("#set_cnt").text(cnt);
                    $("#prdct_cnt").val(cnt);
                }
            );

            $("#btn_minus").click(
                function() {
                    var cnt =$("#set_cnt").text();
                    cnt--;
                    if(cnt > 0) {
                        $("#set_cnt").text(cnt);
                        $("#prdct_cnt").val(cnt);
                    }else {
                        alert('상품은 1개 이상 선택해야 합니다.');
                    }
                }
            );

            $("#btn_set_confirm").click(
                function() {
                    $("#set_cnt").text("1");
                    $("#buy_setting").submit();
                    closeLayer('layerPop');
                    toastPopup();
                }
            );
        });

        function dataMatch(prdctId, prdctNm, imgData, price) {
            $("#prdct_id").val(prdctId);
            $("#prdct_nm").val(prdctNm);
            $("#image").val(imgData);
            $("#price").val(price);
        }

        function toastPopup() {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-center",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr.info('장바구니에 상품이 담겼습니다.');
        }
    </script>

</head>
<form action="/" method="get" style="display:none" name="list_setting" id="list_setting">
    <input type="hidden" name="wechat_id" id="wechat_id" value="<%= wechatId %>"/>
</form>

<form action="/shopping/shoppingDetailInsert" method="post" style="display:none" name="buy_setting" id="buy_setting">
    <input type="hidden" name="wechat_id" id="wechat_id" value="<%= wechatId %>"/>
    <input type="hidden" name="prdct_id" id="prdct_id" value=""/>
    <input type="hidden" name="prdct_nm" id="prdct_nm" value=""/>
    <input type="hidden" name="image" id="image" value=""/>
    <input type="hidden" name="prdct_cnt" id="prdct_cnt" value="1"/>
    <input type="hidden" name="price" id="price" value=""/>
</form>

<body>
<div id="container">
    <div id="shopping_detail_wrap">
        <!--<a href="javascript:history.back()"><p class="back_arrow detail"><img src="/images/btn_back_w@3x.png"></p></a>-->

        <!--슬라이드 S-->
        <div id="swiper-container_fix">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/images/photo_detail_01.png"></div>
                    <div class="swiper-slide"><img src="/images/photo_detail_02.png"></div>
                    <div class="swiper-slide"><img src="/images/photo_detail_03.png"></div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <!-- Swiper JS -->
        <script src="/js/swiper.min.js"></script>

        <!-- Initialize Swiper -->
        <script>
            var swiper = new Swiper('.swiper-container', {
                pagination: '.swiper-pagination',
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                paginationClickable: true,
                spaceBetween: 0,
                centeredSlides: true,
                autoplay: 0,
                autoplayDisableOnInteraction: false
            });
        </script>
        <!--슬라이드 E-->
        <div id="shopping_detail_body">
            <ul class="info">
                <li class="name"><%= data.PRDCT_NM %></li>
                <li class="price">￥ <%= data.PRICE %></li>
                <li class="star">
                    <% var shoppingScope = data.SHOPPING_SCOPE; %>
                    <% getRating = function (shoppingScope) {
                        var rating = shoppingScope * 2;
                        var fullStar = shoppingScope;
                        var halfStar = false;
                        var starDom = '';
                        // 별 반개가 남으면 홀수, 아니면 짝수
                        if (rating % 2 == 1) {
                            halfStar = true;
                            fullStar -= 0.5;
                        }

                    for (var i = 1; i <= 5; i++) {
                        if (i <= fullStar) { %>
                            <img src="/images/star@3x.png">
                        <% } else if (halfStar) { %>
                            <img src="/images/star_half@3x.png">
                        <% halfStar = false;
                        } else { %>
                            <img src="/images/star_dim@3x.png" alt="딤드별">
                        <% }
                        }
                        return starDom;
                    } %>
                    <% getRating(shoppingScope);%>
                </li>
            </ul>
            <ul>
                <li class="ti_detail">상세정보</li>
                <li>
                    <% var descriptionArr = data.DESCRIPTION.split("."); %>
                    <% for(var i = 0; i < descriptionArr.length; i++) { %>
                        <p><%= descriptionArr[i] %></p>
                    <% } %>
                </li>
            </ul>
        </div>
    </div>
    <a href="#" onclick="openLayer('layerPop',300,50);dataMatch('<%= data.PRDCT_ID%>','<%= data.PRDCT_NM %>','<%= data.IMG_URL %>','<%= data.PRICE %>');"><div id="btn_put"><span class="ic_add"><img src="/images/ic_add@3x.png"></span>담기</div></a>

    <!-- 팝업 설정 -->
    <div id="layerPop">
        <div class="pop_up_body">
            <p class="ti">개수 설정<p>
            <div class="set_num">
                <ul>
                    <li class="fir"><a href="#"><img src="/images/ic_popup_minus.png" id="btn_minus"></a></li>
                    <li class="sec" id="set_cnt">1</li>
                    <li class="thi"><a href="#"><img src="/images/ic_popup_plus.png" id="btn_plus"></a></li>
                </ul>
                <ul class="clear_both"></ul>
            </div>
            <p class="btn_txt"><a href="#" onclick="closeLayer('layerPop')"><span>취소</span></a><a href="#"><span class="confirm" id="btn_set_confirm">확인</span></a></p>
        </div>
    </div>

</div>
</body>

</html>
