<!DOCTYPE html>
<html lang="ko">
<head>

    <title>교통정보</title>
    <meta name="title" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <meta name="keywords" content="">
    <meta name="description" content="">

    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Samsung">
    <meta property="og:locale" content="ko">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:country-name" content="">

    <meta itemprop="name" content="Samsung">
    <meta itemprop="image" content="">
    <meta itemprop="url" content="">
    <meta itemprop="description" content="">
    <meta itemprop="keywords" content="">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/swiper.min.css">
    <style type="text/css">
        #l-map{height:600px;width:100%;}
        /*#r-result,#r-result table{width:100%;}*/
    </style>
    <script type="text/javascript" src="/js/ios_scalable.js"></script>
    <script type ="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=HzG9TZi2bzeiGmAPQyV0eAPYzea02TbU"></script>
    <script src="http://52.79.56.181:8060/socket.io/socket.io.js"></script>
</head>

<body id="back_100_hidden">
<div id="container">
    <div id="shopping_detail_wrap">
        <div id="header_nor" class="restaurant">
            <input id='id' type="hidden" value=<%=id%>>
            <input id='type' type="hidden" value=<%=type%>>
            <input id='nickName' type="hidden" value=<%=nickName%>>
            <div class="tab">
                <ul>
                <% if('walking'== type){%>
                    <li class="fir">도보</li>
                    <% } else{%>
                    <li class="sec disable"><a href = "/food/transport?type=walking&id=<%=id%>&nickName=<%=nickName%>">도보</a></li>
                    <%}%>
                    <% if('driving'==type){%>
                    <li class="fir">택시</li>
                    <% } else{%>
                    <li class="sec disable"><a href = "/food/transport?type=driving&id=<%=id%>&nickName=<%=nickName%>">택시</a></li>
                    <%}%>
                </ul>
            </div>
            <div class="clear_both"></div>
        </div>

        <div id="map_body">
            <!-- 출발S -->
            <div>
                <ul>
                    <li class="mark"><span class="txt">출발</span><li>
                        <!-- width보다 글자 길어질 경우 ... 처리 -->
                    <li class="add_name_sc">
                        <p id="departNm">출발지 위치</p>
                        <p class="add_detail_sc" id="departAddr"></p>
                    <li>
                </ul>
                <ul class="clear_both"></ul>
            </div>
            <div class="center_dot_wrap">
                <ul>
                    <li class="center_dot"><img src="/images/dot_course_centerdot@3x.png"><li>
                    <li class="center_dot_hr"><hr></hr><li>
                </ul>
                <ul class="clear_both"></ul>
            </div>
            <div>
                <ul>
                    <li class="mark"><span class="txt">도착</span><li>
                    <li class="add_name_sc">
                        <p id ="arriveNm"></p>
                        <p class="add_detail_sc" id="arriveAddr"></p>
                    <li>
                </ul>
                <ul class="clear_both"></ul>
            </div>
            <div>
                <ul>
                    <li class="mark"><li>
                    <li><p class="add_time_sc" id="durationDistance"></p><li>
                </ul>
                <ul class="clear_both"></ul>
            </div>
        </div>
        <div id="l-map"></div>
            <a href=""><div id="btn_put">메세지로 경로 받기</div></a>
    </div>
</div>
</body>
<script type="text/javascript">
    $(function(){
        var socket = io.connect('http://52.79.56.181:8060');
        var map = new BMap.Map("l-map");

        // 위치 가져오기
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(getPosition);
            } else {
                console.log('Error', 'Geolocation is not supported by this browser."');
            }
        }

        function getPosition(position) {

            var longitude = position.coords.longitude;
            var latitude = position.coords.latitude;

            $.ajax({
                url: 'http://nbnl.couphone.cn/food/transport',
                type: 'POST',
                data: {lng : longitude,
                        lat : latitude,
                        type : $('#type').val(),
                        id : $('id').val()},
                success: function (data) {

                    var transportWay = null;
                    var arrivelat = '';
                    var arrivelng = '';

                    var depart = data.depart;
                    var arrive = data.arrive;
                    var duration = data.duration;
                    var distance = data.distance;
                    var type = data.type;

                    var durationDistance = duration + ' ' + distance;
                    var arriveNm = arrive.nameCn + ' (' + arrive.nameKr + ')'
                    var arriveAddr = '';

                    if(type == 'walking'){
                        transportWay = new BMap.WalkingRoute(map, {renderOptions: {map: map, autoViewport: true}});
                        arrivelat = arrive.walkingLat;
                        arrivelng = arrive.walkingLng;

                        arriveAddr = arrive.addrWalking;
                        durationDistance = '도보 ' + durationDistance;
                        type = 'driving';
                    } else if(type == 'driving') {
                        transportWay = new BMap.DrivingRoute(map, {renderOptions: {map: map, autoViewport: true}});
                        arrivelat = arrive.drivingLat;
                        arrivelng = arrive.drivingLng;

                        arriveAddr = arrive.addrTaxi;
                        durationDistance = '택시 ' + durationDistance;
                        type = 'walking';
                    }

                    $('#type').val(type);
                    $('#durationDistance').text(durationDistance);
                    $('#departAddr').text(depart.addr);
                    $('#arriveNm').text(arriveNm);
                    $('#arriveAddr').text(arriveAddr);

                    var startpoint = new BMap.Point(depart.lng, depart.lat);
                    var endpoint = new BMap.Point(arrivelng, arrivelat);

                    transportWay.search(startpoint, endpoint);

                    $('#btn_put').click(function(){
                        var data = {
                            foodId : arrive.id,
                            duration : duration,
                            distance : distance,
                            departAddr : depart.addr,
                            departLat : depart.lat,
                            departLong : depart.lng,
                            arriveName : arriveNm,
                            nickName : $('#nickName').val()
                        }

                        $.ajax({
                            url: 'http://nbnl.couphone.cn/wechat/sendFoodMap',
                            type: 'POST',
                            data: data,
                            success: function (result) {

                                var foodMsg = "맛집 안내 지도 전송: " + result.arriveName;

                                var content = {
                                    fromNickName : '',
                                    toNickName : result.nickName,
                                    contentType : 'text',
                                    contents : foodMsg,
                                    type : 'saveMsg'
                                };
                                socket.emit('nbnlServer', content);
                            },
                            error: function (request, status, error) {
                                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                                console.log('Error occured');
                            }
                        }); // end ajax
                    }); // end button
                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                    console.log('Error occured');
                }
            })
        }

        getLocation();
    });
</script>
</html>
