<!DOCTYPE html>
<html lang="ko">
<head>

    <title>교통정보</title>
    <meta name="title" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <meta name="keywords" content="">
    <meta name="description" content="">

    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Samsung">
    <meta property="og:locale" content="ko">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:country-name" content="">

    <meta itemprop="name" content="Samsung">
    <meta itemprop="image" content="">
    <meta itemprop="url" content="">
    <meta itemprop="description" content="">
    <meta itemprop="keywords" content="">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/swiper.min.css">
    <style type="text/css">
        #l-map{height:50%;width:100%;}
        /*#r-result,#r-result table{width:100%;}*/
    </style>
    <script type="text/javascript" src="/js/ios_scalable.js"></script>
    <script type ="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=HzG9TZi2bzeiGmAPQyV0eAPYzea02TbU"></script>
    <script src="http://52.79.56.181:8060/socket.io/socket.io.js"></script>
</head>

<body id="back_100_hidden">
<div id="container">
    <div id="shopping_detail_wrap">
        <div id="header_nor" class="restaurant">
            <input id='transportType' type="hidden" value=<%=type%>>
            <div class="tab">
                <ul>
                    <% if('walking'== type){%>
                    <li class="fir">도보</li>
                    <% } else{%>
                    <li class="sec disable"><a href = "/<%=transportType%>/transport?id=<%=arrive.id%>&type=walking&address=<%=depart.addrWalking%>&lat=<%=depart.walkingLat%>&lng=<%=depart.walkingLong%>&nickName=<%=nickName%>">도보</a></li>
                    <%}%>
                    <% if('driving'==type){%>
                    <li class="fir">택시</li>
                    <% } else{%>
                    <li class="sec disable"><a href = "/<%=transportType%>/transport?id=<%=arrive.id%>&type=driving&address=<%=depart.addrTaxi%>&lat=<%=depart.drivingLat%>&lng=<%=depart.drivingLong%>&nickName=<%=nickName%>">택시</a></li>
                    <%}%>
                </ul>
            </div>
            <div class="clear_both"></div>
        </div>

        <div id="map_body">
            <!-- 출발S -->
            <div>
                <ul>
                    <li class="mark"><span class="txt">출발</span><li>
                        <!-- width보다 글자 길어질 경우 ... 처리 -->
                    <li class="add_name_sc">
                        <p id="depart">출발지 위치</p>
                        <p class="add_detail_sc" id="departAddr"><%=depart.addrWalking%></p>
                    <li>
                </ul>
                <ul class="clear_both"></ul>
            </div>
            <!-- 출발E -->

            <!-- Center Dot S -->
            <div class="center_dot_wrap">
                <ul>
                    <li class="center_dot"><img src="/images/dot_course_centerdot@3x.png"><li>
                    <li class="center_dot_hr"><hr></hr><li>
                </ul>
                <ul class="clear_both"></ul>
            </div>
            <!-- Center Dot E -->

            <!-- 도착S -->
            <div>
                <ul>
                    <li class="mark"><span class="txt">도착</span><li>
                    <li class="add_name_sc">
                        <p id ="arrive"><%=arrive.nameCn%> ( <%=arrive.nameKr%> )</p>
                        <p class="add_detail_sc" id="arriveAddr"><%=arrive.addrWalking%></p>
                    <li>
                </ul>
                <ul class="clear_both"></ul>
            </div>
            <!-- 도착E -->

            <!-- 시간S -->
            <div>
                <ul>
                    <li class="mark"><li>
                    <li><p class="add_time_sc"><% if('walking'== type){%>도보<%}else{%>택시<%}%><%=duration%><%=distance%></p><li>
                </ul>
                <ul class="clear_both"></ul>
            </div>
            <!-- 시간E -->

        </div>
        <input type="hidden" id="departWalkingLat" value=<%=depart.walkingLat%>>
        <input type="hidden" id="departWalkingLong" value=<%=depart.walkingLong%>>
        <input type="hidden" id="arriveWalkingLat" value=<%=arrive.walkingLat%>>
        <input type="hidden" id="arriveWalkingLong" value=<%=arrive.walkingLong%>>
        <input type="hidden" id="departDrivingLat" value=<%=depart.drivingLat%>>
        <input type="hidden" id="departDrivingLong" value=<%=depart.drivingLong%>>
        <input type="hidden" id="arriveDrivingLat" value=<%=arrive.drivingLat%>>
        <input type="hidden" id="arriveDrivingLong" value=<%=arrive.drivingLong%>>
        <!-- map_body E -->
        <!--지도영역-->
        <div id="l-map"></div>
        <% if('food' == transportType) {%>
        <a href=""><div id="btn_put">메세지로 경로 받기</div></a>
        <input type="hidden" id="foodId" value=<%=arrive.id%>>
        <input type="hidden" id="duration" value=<%=duration%>>
        <input type="hidden" id="distance" value=<%=distance%>>
        <input type="hidden" id="nickName" value=<%=nickName%>>
        <%}%>
        <!--<div type="hidden" id="r-result"></div>-->
    </div>
</div>
</body>
<script type="text/javascript">
    $(function(){
//        var socket = io.connect('http://52.79.56.181:8060');
        var map = new BMap.Map("l-map");

        var transportWay = null;
        var departlat = null;
        var departlng = null;
        var arrivelat = null;
        var arrivelng = null;

        if($('#transportType').val() == 'walking'){
            transportWay = new BMap.WalkingRoute(map, {renderOptions: {map: map, autoViewport: false}});
            departlat = $('#departWalkingLat').val();
            departlng = $('#departWalkingLong').val();
            arrivelat = $('#arriveWalkingLat').val();
            arrivelng = $('#arriveWalkingLong').val();

            console.log('walking departlat',departlat);
            console.log('walking departlng',departlng);
            console.log('walking arrivelat',arrivelat);
            console.log('walking arrivelng',arrivelng);

        } else if($('#transportType').val() == 'driving') {
            transportWay = new BMap.DrivingRoute(map, {renderOptions: {map: map, autoViewport: true}});
            departlat = $('#departDrivingLat').val();
            departlng = $('#departDrivingLong').val();
            arrivelat = $('#arriveDrivingLat').val();
            arrivelng = $('#arriveDrivingLong').val();
        }
        var startpoint = new BMap.Point(departlng, departlat);
        var endpoint = new BMap.Point(arrivelng, arrivelat);

        transportWay.search(startpoint, endpoint);

        $('#btn_put').click(function(){
            var data = {
                foodId : $('#foodId').val(),
                duration : $('#duration').val(),
                distance : $('#distance').val(),
                departAddr : $('#departAddr').text(),
                departLat : $('#departWalkingLat').val(),
                departLong : $('#departWalkingLong').val(),
                nickName : $('#nickName').val(),,
                arriveName : $('#arrive').text()
            }

            $.ajax({
                url: 'http://nbnl.couphone.cn/wechat/sendFoodMap',
                type: 'POST',
                data: data,
                success: function (result) {

                    var foodMsg = "맛집 안내 지도 전송: " + result.arriveName;

                    var content = {
                        fromNickName : '',
                        toNickName : result.nickName,
                        contentType : 'text',
                        contents : foodMsg,
                        type : 'saveMsg'
                    };
                    socket.emit('nbnlServer', content);
                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                    console.log('Error occured');
                }
            });

        })
    });
</script>
</html>
<!-- 
<p class="add_name">上海外婆(상해외할머니)</p>
 -->
