<!DOCTYPE html>
<html lang="ko">
<head>

    <title>Samsung</title>
    <meta name="title" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <meta name="keywords" content="">
    <meta name="description" content="">

    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Samsung">
    <meta property="og:locale" content="ko">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:country-name" content="">

    <meta itemprop="name" content="Samsung">
    <meta itemprop="image" content="">
    <meta itemprop="url" content="">
    <meta itemprop="description" content="">
    <meta itemprop="keywords" content="">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/swiper.min.css">
    <style type="text/css">
        #l-map{height:600px;width:100%;}
        /*#r-result,#r-result table{width:100%;}*/
    </style>
    <script type="text/javascript" src="/js/ios_scalable.js"></script>
    <script type ="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=HzG9TZi2bzeiGmAPQyV0eAPYzea02TbU"></script>
    <script src="http://52.79.56.181:8060/socket.io/socket.io.js"></script>
</head>

<body id="back_100_hidden">
<div id="container">
    <div id="shopping_detail_wrap">
        <% if('food' == transportType) {%>
            <a href="/food/shopInfo?id=<%=arrive.id%>">
        <%}else if('taxi' == transportType){%>
            <a href=”#” onclick="javascript:self.close();">
        <%}%><p class="back_arrow"><img src="/images/btn_back_b@3x.png"></p></a>
        <div id="header_nor" class="restaurant">
            <input id='transportType' type="hidden" value=<%=type%>>
            <div class="tab">
                <ul>
                <% if('walking'== type){%>
                    <li class="fir">도보</li>
                    <% } else{%>
                    <li class="sec disable"><a href = "/<%=transportType%>/transport?id=<%=arrive.id%>&type=walking&address=<%=depart.addrWalking%>&lat=<%=depart.walkingLat%>&lng=<%=depart.walkingLong%>">도보</a></li>
                    <%}%>
                    <% if('driving'==type){%>
                    <li class="fir">택시</li>
                    <% } else{%>
                    <li class="sec disable"><a href = "/<%=transportType%>/transport?id=<%=arrive.id%>&type=driving&address=<%=depart.addrTaxi%>&lat=<%=depart.drivingLat%>&lng=<%=depart.drivingLong%>">택시</a></li>
                    <%}%>
                </ul>
            </div>
            <div class="clear_both"></div>
        </div>

        <div id="map_body">
            <!-- 출발S -->
            <div>
                <ul>
                    <li class="mark"><span class="txt">출발</span><li>
                        <!-- width보다 글자 길어질 경우 ... 처리 -->
                    <li class="add_name_sc">
                        <!--<p id="depart"><=depart.nameCn> ( <=depart.nameKr> )</p>-->
                        <p class="add_detail_sc" id="departAddr"><%=depart.addrWalking%></p>
                    <li>
                </ul>
                <ul class="clear_both"></ul>
            </div>
            <!-- 출발E -->

            <!-- Center Dot S -->
            <div class="center_dot_wrap">
                <ul>
                    <li class="center_dot"><img src="/images/dot_course_centerdot@3x.png"><li>
                    <li class="center_dot_hr"><hr></hr><li>
                </ul>
                <ul class="clear_both"></ul>
            </div>
            <!-- Center Dot E -->

            <!-- 도착S -->
            <div>
                <ul>
                    <li class="mark"><span class="txt">도착</span><li>
                    <li class="add_name_sc">
                        <p id ="arrive"><%=arrive.nameCn%> ( <%=arrive.nameKr%> )</p>
                        <p class="add_detail_sc" id="arriveAddr"><%=arrive.addrWalking%></p>
                    <li>
                </ul>
                <ul class="clear_both"></ul>
            </div>
            <!-- 도착E -->

            <!-- 시간S -->
            <div>
                <ul>
                    <li class="mark"><li>
                    <li><p class="add_time_sc"><% if('walking'== type){%>도보<%}else{%>택시<%}%><%=duration%><%=distance%></p><li>
                </ul>
                <ul class="clear_both"></ul>
            </div>
            <!-- 시간E -->

        </div>
        <!-- map_body E -->
        <!--지도영역-->
        <div id="l-map"></div>
                <% if('food' == transportType) {%>
                    <a href=""><div id="btn_put">메세지로 경로 받기</div></a>
                    <input type="hidden" id="foodId" value=<%=arrive.id%>>
                    <input type="hidden" id="duration" value=<%=duration%>>
                    <input type="hidden" id="distance" value=<%=distance%>>
                    <input type="hidden" id="departLat" value=<%=depart.walkingLat%>>
                    <input type="hidden" id="departLong" value=<%=depart.walkingLong%>>
                 <%}else if('taxi' == transportType){%>
                <%}%>
        <!--<div type="hidden" id="r-result"></div>-->
    </div>
</div>
</body>
<script type="text/javascript">
    $(function(){
        var map = new BMap.Map("l-map");

        var transportWay = null;
        if($('#transportType').val() == 'walking'){
            transportWay = new BMap.WalkingRoute(map, {renderOptions: {map: map, autoViewport: true}});
        } else if($('#transportType').val() == 'driving') {
            transportWay = new BMap.DrivingRoute(map, {renderOptions: {map: map, autoViewport: true}});
        }
        transportWay.search($('#departAddr').text(), $('#arriveAddr').text());

        $('#btn_put').click(function(){
            var socket = io.connect('http://52.79.56.181:8060');

            var data = {
                foodId : $('#foodId').val(),
                duration : $('#duration').val(),
                distance : $('#distance').val(),
                departAddr : $('#departAddr').text(),
                departLat : $('#departLat').val(),
                departLong : $('#departLong').val(),
                arriveName : $('#arrive').text()
            }

            var currnt_time = new Date();
            var foodMsg = "맛집 안내 지도 전송: " + data.arriveName;
            socket.emit('nbnl server', 'couphone0001,' + foodMsg + ',' + currnt_time);
            socket.disconnect();

            $.post( "/wechat/sendFoodMap", data);
        })
    });
</script>
</html>
<!-- 
<p class="add_name">上海外婆(상해외할머니)</p>
 -->
