<!DOCTYPE html>
<html lang="en">
<head>
    <title>Papa Stamp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Staple Food Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet" media="all"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="all"/>
    <link href="/css/font-awesome.css" rel="stylesheet"> <!-- font-awesome icons -->
    <link href="/css/owl.carousel.css" type="text/css" rel="stylesheet" media="all"/>
    <!-- //Custom Theme files -->
    <!-- Toast -->
    <link href="/css/jquery.toast.min.css" type="text/css" rel="stylesheet"/>
    <!-- //Toast -->
    <!-- js -->
    <script src="/js/jquery-2.2.3.min.js"></script>
    <script src="/js/jquery.toast.min.js" type="text/javascript"></script>
    <!-- //js -->

    <!-- animate -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src="https://whereareevent.com:8060/socket.io/socket.io.js"></script>
    <!-- //animate -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Yantramanav:100,300,400,500,700,900" rel="stylesheet">
    <!-- //web-fonts -->
</head>

<form style="display:none" name="push_data" id="push_data">
    <input type="hidden" name="url" id="url" value="<%= url %>"/>
    <input type="hidden" name="pushUserId" id="pushUserId" value="<%= pushUserId %>"/>
    <input type="hidden" name="pushShopId" id="pushShopId" value="<%= pushShopId %>"/>
    <input type="hidden" name="shopOrderNumber" id="shopOrderNumber" value="<%= shopData.SHOP_ORDER_NUM %>"/>
    <input type="hidden" name="userCurrentNumber" id="userCurrentNumber" value="<%= userData.USER_CURRENT_NUM %>"/>
    <input type="hidden" name="userStamp" id="userStamp" value="<%= userData.USER_STAMP %>"/>
</form>

<body>
<!-- banner -->
<div class="banner about-w3bnr">
    <!-- header -->
    <div class="header">
        <!-- header-one -->
        <div class="w3ls-header">
            <div class="container">
                <div class="w3ls-header-left">
                    <p>나의 스탬프 관리</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- //header-one -->
        <!-- navigation -->
        <div class="navigation agiletop-nav">
            <div class="container">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header w3l_logo">
                        <button id="papa-menu" type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1 style="float:left;color:#CD853F">PaPa<p style="float:right;font-size:0.6em;margin-left:10px;color:#EE82EE">Stamp</p>
                            <a><span>Stamp Management System</span></a></h1>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a style="color:#CD853F;" href="/main">Home</a></li>
                            <li><a href="/contact" class="active">Contact Us</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- //navigation -->
    </div>
    <!-- //header-end -->
    <!-- banner-text -->
    <div id="testC" class="banner-text">
        <div class="container">
            <h2 style="float:right;"><%= shopData.SHOP_NAME %></h2>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- breadcrumb -->
<div class="container">
    <ol class="breadcrumb w3l-crumbs tabs" style="text-align:center">
        <li class="active" rel="tab1"><a href="javascript:" style="color: #e24945"><i class="fa fa-book"></i>메뉴정보</a></li>
        <li rel="tab2"><a href="javascript:"><i class="fa fa-male"></i>주문정보</a></li>
        <li id="stamp" rel="tab3"><a href="javascript:"><i class="glyphicon glyphicon-home"></i> 파파도장</a></li>
    </ol>
</div>
<!-- //breadcrumb -->

<!-- products -->
<div class="products">
    <div class="container">

        <!-- menu -->
        <div id="tab1" class="col-md-9 product-w3ls-right tab_content">
            <div class="product-top">
                <h4>Coffee Collection</h4>
                <ul>
                    <li class="dropdown head-dpdn">
                        <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">종류 선택<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li onclick="getMenu(this.id)" id="Espresso"><a href="javascript:">Espresso</a></li>
                            <li onclick="getMenu(this.id)" id="Fruit Beverage"><a href="javascript:">Fruit Beverage</a></li>
                            <li onclick="getMenu(this.id)" id="Other Beverage"><a href="javascript:">Other Beverage</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"> </div>
            </div>

            <div id="price" class="pricing">
                <div class="price_container">
                    <div class="tittle-head ser">
                        <h3 class="tittle">Prices</h3>
                        <h3 id="menuTypeName" style="text-align:right;padding-top:25px;">Espresso</h3>
                        <h4>Prices</h4>
                    </div>
                    <div class="price">
                        <div class="col-md-6 order-top">
                            <li id="menuName" class="data order-special-a">
                            </li>
                            <li class="data order-special">
                                <div id="menuPrice" class="special-info"><h4>Price</h4>
                                </div>
                            </li>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div id="shopMenu" class="products-row" style="margin-bottom:20px">
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- //menu -->

        <!-- dishes -->
        <div id="tab2" class="w3agile-spldishes tab_content">
            <div class="container">
                <div class="grid_3 grid_5">
                    <h3 class="w3ls-hdg" style="text-align:center;margin-right:2em;"><span style="margin-right:2em;">대기 번호</span> / <span style="margin-left:2em;">나의 번호</span></h3>
                    <div class="col-md-6 page_1 agileits-w3layouts" style="padding-left:3px;text-align:center">
                        <nav>
                            <ul class="pagination">
                                <span id="shop_delay_number" class="badge badge-info" style="float:left;font-size:50px;margin-right:2em;"><%= shopData.SHOP_ORDER_NUM %></span>
                                <div class="ftr-top-left" style="float:right;">
                                    <i id="user_delay_number" class="fa" aria-hidden="true" style="color:#00c57e;margin-bottom:20px;"><%= userData.USER_CURRENT_NUM %></i>
                                </div>
                            </ul>
                        </nav>
                        <div class="clearfix"> </div>
                    </div>
                </div>

                <div class="grid_3 grid_5 w3-agileits w3layouts" style="margin-top:30px;">
                    <h3>
                        <span class="label label-default" style="float:left;margin-right:5px;">준비중</span>
                        <span class="label label-info" style="margin-left:72px;">제조중</span>
                        <span class="label label-success" style="float:right;margin-left:5px;">완료</span>
                    </h3>
                    <h3 id="progress_per" class="w3ls-hdg"></h3>
                    <div class="tab-content">
                        <div class="tab-pane active" id="domprogress">
                            <div class="progress w3-agileits">
                                <div id="progress_bar" class="progress-bar progress-bar-info" style="width: 0%"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="ViewTimer"></div>
            </div>
        </div>
        <!-- //dishes -->

        <!-- info -->
        <div id="tab3" class="wthree-order tab_content">
            <img id="papa_stamp" src="/images/cafejass/papa-stamp-icon.png" class="w3order-img" alt="">
            <h3 class="w3ls-title" style="margin-bottom:1em;">방문 도장</h3>
            <p class="w3lsorder-text">방문해 주셔서 감사합니다.</p>
            <div class="container" style="padding-top: 80px;padding-bottom:3em;padding-left:5px;">
                <div class="order-agileinfo">
                    <div>
                        <% for (var i=1; i<=10; i++) {%>
                        <div id="papa_stamp_icon_<%=i%>" class="col-md-3 col-sm-3 col-xs-6 order-w3lsgrids" style="width:16%;margin-bottom:35px;margin-left:5px;margin-right:5px;">
                            <div class="order-w3text" style="width:57px;height:57px;padding-top:0.5px">
                                <img src="/images/<%= shopData.SHOP_STAMP_IMG %>" style="width:4em;">
                                <p id="visitDate<%=i%>"></p>
                                <span id="visitCnt<%=i%>" style="font-size:2.5em;padding-top:5px"><%= i %></span>
                            </div>
                        </div>
                        <%}%>
                    </div>
                </div>
            </div>

            <h3 class="w3ls-title" style="margin-bottom:1em;">무료 쿠폰</h3>
            <p class="w3lsorder-text" style="color:#EE82EE;font-weight:bold;margin-bottom:10px">스탬프 10개가 모이면 4000원 음료 쿠폰을 드립니다.</p>
            <div id="layerCouphone" style="margin-top:25px;">
            </div>
        </div>
        <!-- //info -->

        <div class="clearfix"> </div>
    </div>
</div>
<!-- //products -->
<!-- subscribe -->
<div class="subscribe agileits-w3layouts">
    <div class="container">
        <div class="col-md-6 social-icons w3-agile-icons">
            <h4>SNS <span style="font-size:0.9em;color:#999;line-height:1.8em;">공유 하기</span></h4>
            <ul>
                <li><a href="javascript:" onclick="checkLoginState();"><img style="width:50px;margin-right:5px;" src="/images/facebook.png"></a></li>
                <li><a href="https://twitter.com/intent/tweet?text=파파%20스탬프" onclick=""><img style="width:50px;margin-right:5px;" src="/images/twitter.png"></a></li>
                <li><a href="https://instagram.com" onclick=""><img style="width:50px;margin-right:5px;" src="/images/instagram.png"></a></li>
                <li><a href="https://story.kakao.com/s/login" onclick=""><img style="width:50px;margin-right:5px;" src="/images/kakao-story.png"></a></li>
                <li><a href="https://m.blog.naver.com" onclick=""><img style="width:50px;margin-right:5px;" src="/images/naver.png"></a></li>
            </ul>
            <ul class="apps">
                <li><h4>Download Our app : </h4> </li>
                <li><a href="javascript:" class="fa fa-apple"></a></li>
                <li><a href="javascript:" class="fa fa-android"></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- //subscribe -->
<!-- footer -->
<div class="footer agileits-w3layouts">
    <div class="container">
        <div class="w3_footer_grids">
            <div class="col-xs-6 col-sm-3 footer-grids w3-agileits" style="width:100%">
                <h3><%= shopData.SHOP_NAME %></h3>
                <ul>
                    <li><a href="about.html">  주    소 : <%= shopData.SHOP_ADDR %></a></li>
                    <li><a href="contact.html">연 락 처 : <%= shopData.SHOP_PHONE %></a></li>
                    <li><a href="careers.html">영업 시간 : <%= shopData.SHOP_OPEN %></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="copyw3-agile">
    <div class="container">
        <p>&copy; 2017 Staple Food. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
    </div>
</div>
<!-- //footer -->

<style type="text/css">
    #deemed{opacity:0.3; z-index:25;}
</style>

<script src="/js/SmoothScroll.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<script type="text/javascript" src="/js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="/js/jquery.mousewheel.js"></script>

<script type="text/javascript" id="sourcecode">
    $(function() {
        $('.scroll-pane').jScrollPane();
    });

    // 방문 횟수
    var visitCnt = $("#userStamp").val();
    var visitRateCnt = visitCnt % 10;

    for(var i=1; i<=visitRateCnt; i++) {
        $("#visit"+i).css({"-webkit-transform": "scale(0)", "-moz-transform": "scale(0)", "-o-transform": "scale(0)", "-ms-transform": "scale(0)", "transform": "scale(0)"});
    }

    var socket = io.connect('https://whereareevent.com:8060');
    var pushUserId = $("#pushUserId").val();
    var shopOrderNumber = $("#shopOrderNumber").val();
    var userCurrentNumber = $("#userCurrentNumber").val();
    var callValue = 0;
    var tid;

    if(userCurrentNumber == 0) {
        remainTime(callValue);
    }else if(userCurrentNumber != shopOrderNumber) {
        callValue = 1;
        tid=setInterval('remainTime()',1000);
    }else if(userCurrentNumber == shopOrderNumber) {
        callValue = 101;
        remainTime(callValue);
    }

    socket.on(pushUserId, function(data){
        console.log('Papa stamp push : ' + data);
        $("ol.tabs li").removeClass("active");
        $("ol.tabs li a").removeAttr("style");
        $("#stamp").addClass("active");
        $("#stamp").children().css("color", "#e24945");
        $(".tab_content").hide();
        var activeTab = $("#stamp").attr("rel");
        $("#" + activeTab).fadeIn();

        if (visitRateCnt < 9){
            visitRateCnt++;
            $("#userStamp").val(visitRateCnt);

            var papaStampIconAnimate = document.getElementById("papa_stamp_icon_"+visitRateCnt);
            for(var i=1; i<=visitRateCnt; i++) {
                $("#visitCnt"+i).css({"-webkit-transform": "scale(0)", "-moz-transform": "scale(0)", "-o-transform": "scale(0)", "-ms-transform": "scale(0)", "transform": "scale(0)"});
                if(i==visitRateCnt) {
                    TweenLite.fromTo(papaStampIconAnimate, 2, {rotation: 0}, {rotation: 720});
                    $("#visitDate"+i).html(GetFormattedDate());
                }
            }
        }else {
            $("#visitCnt10").css({"-webkit-transform": "scale(0)", "-moz-transform": "scale(0)", "-o-transform": "scale(0)", "-ms-transform": "scale(0)", "transform": "scale(0)"});
            var papaStampIconAnimate = document.getElementById("papa_stamp_icon_10");
            TweenLite.fromTo(papaStampIconAnimate, 2, {rotation: 0}, {rotation: 720});

            $("#visitDate10").html(GetFormattedDate());

            //updateCouphone();

            setTimeout(function() {
                getCouphone();

                // 방문 횟수 초기화
                $("#userStamp").val(0);
                for(var i=1; i<=10; i++) {
                    $("#visitCnt"+i).css({"-webkit-transform": "scale(1)", "-moz-transform": "scale(1)", "-o-transform": "scale(1)", "-ms-transform": "scale(1)", "transform": "scale(1)"});
                    $("#visitDate"+i).html('');
                }

                //usedPushHistory();

                //Toast Success Message
                $.toast.config.align = 'left';
                $.toast('<h4>쿠폰</h4> 발급이 완료되었습니다.', { type: 'success', duration: 3000 } );
            }, 3000);
        }

        //Call
        var callvalue = 1;
        tid=setInterval('remainTime('+callvalue+')',1000);
    });

    jQuery(document).ready(function($) {
        $().UItoTop({ easingType: 'easeOutQuart' });

        /* Tab setting */
        $(".tab_content").hide();
        $(".tab_content:first").show();

        $("ol.tabs li").click(function () {
            $("ol.tabs li").removeClass("active");
            $("ol.tabs li a").removeAttr("style");
            $(this).addClass("active");
            if($(this).attr("rel") == "tab3") {
                var papaStampAnimate = document.getElementById("papa_stamp");
                TweenLite.fromTo(papaStampAnimate, 4, {width: 70, rotation: 0}, {rotation: 720});
            }

            $(this).children().css("color", "#e24945");
            $(".tab_content").hide();
            var activeTab = $(this).attr("rel");
            $("#" + activeTab).fadeIn();
        });

        $("ul.pagination li").click(function () {
            $("ul.pagination li").removeClass("active");
            $(this).addClass("active");
        })

        $(".scroll").click(function(event){
            event.preventDefault();

            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });

        getMenu("Espresso");

        getStamp();

        getCouphone();
    });

    function remainTime(callvalue) {
        if(callValue == 0) {
            $("#progress_bar").css("width", '100%');
            $("#progress_bar").css("background-color", '#777');
        }else if(callValue > 100){
            callValue = 0;
            $("#progress_bar").css("width", 100 +'%');
            $("#progress_bar").css("background-color", '#5cb85c');
            clearInterval(tid);
        }else if(callValue%2 == 0){
            callValue++;
            $("#progress_bar").css("width", '100%');
        }else if(callValue%2 == 1) {
            callValue++;
            $("#progress_bar").css("width", '0%');
        }
    }

    function usedPushHistory() {
        var couphoneShopId = $("#pushShopId").val();
        var couphoneUserId = $("#pushUserId").val();
        var dataString = {'shop_id': couphoneShopId};
        var headers = {};
        headers["user_id"] = couphoneUserId;

        $.ajax({
            url: $("#url").val() + '/shop/updatePushHistory',
            type: 'PUT',
            headers : headers,
            dataType: 'json',
            data : dataString,
            success: function(data) {
                console.log("usedPushHistory :" + data.resultData);
            },
            error: function(request, status, error) {
                console.error("usedPushHistory : code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    }

    function updateCouphone() {
        var couphoneShopId = $("#pushShopId").val();
        var couphoneUserId = $("#pushUserId").val();
        var dataString = {'shop_id': couphoneShopId};
        var headers = {};
        headers["user_id"] = couphoneUserId;

        $.ajax({
            url: $("#url").val() + '/shop/updateCouphoneMapping',
            type: 'PUT',
            headers : headers,
            dataType: 'json',
            data : dataString,
            success: function(data) {
                console.log("updateCouphone :" + data.resultData);
            },
            error: function(request, status, error) {
                console.error("updateCouphoneMapping : code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    }

    function GetFormattedDate() {
        var now = new Date(),
            month = '' + (now.getMonth() + 1),
            day = '' + now.getDate(),
            year = '' + now.getFullYear();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        return [year.substr(2), month, day].join('/');
    }

    function getStamp() {
        var couphoneShopId = $("#pushShopId").val();
        var couphoneUserId = $("#pushUserId").val();
        var dataString = {'shop_id': couphoneShopId};
        var headers = {};
        headers["user_id"] = couphoneUserId;

        $.ajax({
            url: $("#url").val() + '/shop/selectStampDate',
            type: 'GET',
            headers : headers,
            dataType: 'json',
            data : dataString,
            success: function(data) {
//                console.log("getStamp success");
                var stampPushData = data.stampPushData;
                var stampPushDataCnt = stampPushData.length % 10;
                for(var i=1; i<=stampPushDataCnt; i++){
                    $("#visitCnt"+i).css({"-webkit-transform": "scale(0)", "-moz-transform": "scale(0)", "-o-transform": "scale(0)", "-ms-transform": "scale(0)", "transform": "scale(0)"});
                    $("#visitDate"+i).html(stampPushData[i-1].REG_DT);
                }
            },
            error: function(request, status, error) {
                console.error("selectStampDate : code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    }

    function getCouphone() {
        var couphoneShopId = $("#pushShopId").val();
        var couphoneUserId = $("#pushUserId").val();
        var dataString = {'shop_id': couphoneShopId};
        var headers = {};
        headers["user_id"] = couphoneUserId;

        $.ajax({
            url: $("#url").val() + '/shop/couphoneInfo',
            type: 'GET',
            headers : headers,
            dataType: 'json',
            data : dataString,
            success: function(data) {
//                console.log("getCouphone success");
                var shopCouphoneData = data.shopCouphoneData;
                var couphoneLayer = document.getElementById('layerCouphone');
                couphoneLayer.innerHTML = '';

                if(shopCouphoneData.length == 0) {
                    couphoneLayer.innerHTML +='<div id="deemed" class="offers-wthreerow2" style="margin:0.5em 1em 2em;">'+
                        '<div class="add-products-row">'+
                            '<div class="w3ls-add-grids w3ls-add-grids-right" style="width:100%;">'+
                                '<a style="height:150px;" href="javascript:">'+
                                '<h5 style="float:left;">사용하기</h5>'+
                                '<h4 style="font-size:1.6em;">아메리카노<p>4000원</p></h4>'+
                                '<h6 style="padding-top:25px;"><i class="fa fa-calendar"></i>유효 기간 : 영업점별 상이합니다.</h6>'+
                                '</a>'+
                                '</div>'+
                                '<div class="clearfix"> </div>'+
                            '</div>'+
                        '</div>';
                }else {
                    for(var i=0; i<shopCouphoneData.length; i++){
                        couphoneLayer.innerHTML +='<div class="offers-wthreerow2" style="margin:0.5em 1em 2em;">'+
                            '<div class="add-products-row">'+
                                '<div class="w3ls-add-grids w3ls-add-grids-right" style="width:100%;">'+
                                    '<a style="height:150px;" href="javascript:">'+
                                    '<h5 id="couphone_'+i+'" style="float:left;">사용하기</h5>'+
                                    '<h4 style="font-size:1.6em;">아메리카노<p>'+shopCouphoneData[i].COUPHONE_PRICE+'원</p></h4>'+
                                    '<h6 style="padding-top:25px;"><i class="fa fa-calendar"></i>유효 기간 : '+ shopCouphoneData[i].EXPIRATION_DT +'</h6>'+
                                    '</a>'+
                                    '</div>'+
                                    '<div class="clearfix"> </div>'+
                                '</div>'+
                            '</div>';
                    }
                }
            },
            error: function(request, status, error) {
                console.error("couphoneInfo : code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    }

    function getMenu(menuType) {
        $("#menuTypeName").text(menuType);
        var pushShopId = $("#pushShopId").val();
        var dataString = {'shop_id': pushShopId, 'menu_type': menuType};

        $.ajax({
            url: $("#url").val() + '/shop/shopDetailMenu',
            type: 'GET',
            dataType: 'json',
            data: dataString,
            success: function(data) {
                var menuData = data.menuData;
                var menuName = document.getElementById('menuName');
                var menuPrice = document.getElementById('menuPrice');
                var shopMenu = document.getElementById('shopMenu');
                menuName.innerHTML = '<h4>Coffee</h4>';
                menuPrice.innerHTML = '<h4>Price</h4>';
                shopMenu.innerHTML = '';
                for(var i=0; i<menuData.length; i++){
                    menuName.innerHTML +='<p>' + menuData[i].MENU_NAME + '</p>';
                    menuPrice.innerHTML +='<div class="pre-top">' +
                            '<div class="pr-left">' +
                                '<div class="item_add"><span class="item_price"><h6>' + menuData[i].MENU_PRICE + '원</h6></span></div>' +
                            '</div>' +
                        '</div>';
                    var dynamicDom ='';
                    if(i%2 == 1) {
                        dynamicDom += getRating(menuData[i].MENU_SCOPE, dynamicDom);
                        shopMenu.innerHTML += ' <div class="col-xs-6 col-sm-4 product-grids">' +
                                '<div class="flip-container">' +
                                    '<div class="flipper agile-products">' +
                                        '<div class="front">' +
                                            '<img src="/images/cafejass/espresso/' + menuData[i].MENU_IMG + '" class="img-responsive" alt="img">' +
                                            '<div class="agile-product-text">' +
                                                '<h5 style="font-family:Impact,Charcoal,sans-serif;">' + menuData[i].MENU_NAME + '</h5>' +
                                            '</div>' +
                                        '</div>' +
                                        '<div class="back" style="background: #DDA0DD;">' +
                                            '<h4>' + menuData[i].MENU_NAME + '</h4>' +
                                            '<p>' + menuData[i].DESCRIPTION + '.</p>' +
                                            '<h6>' + menuData[i].MENU_PRICE + '<sup class="fa fa-won"></sup></h6>' +
                                            '<form action="#" method="post">' +
                                                '<input type="hidden" name="cmd" value="_cart">' +
                                                '<input type="hidden" name="add" value="1">' +
                                                '<input type="hidden" name="w3ls_item" value="Fish salad">' +
                                                '<input type="hidden" name="amount" value="3.00">' +
                                                '<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-coffee" aria-hidden="true"></i>' + menuData[i].MENU_TYPE + '</button>' +
                                                '<span class="w3-agile-line"> </span>' + dynamicDom +
                                            '</form>' +
                                        '</div>' +
                                    '</div>' +
                                '</div>' +
                            '</div>';
                    }else {
                        dynamicDom += getRating(menuData[i].MENU_SCOPE, dynamicDom);
                        shopMenu.innerHTML += '<div class="col-xs-6 col-sm-4 product-grids">' +
                                '<div class="flip-container">' +
                                    '<div class="flipper agile-products">' +
                                        '<div class="front">' +
                                            '<div class="agile-product-text agile-product-text2">' +
                                                '<h5 style="font-family:Impact,Charcoal,sans-serif;">' + menuData[i].MENU_NAME + '</h5>' +
                                            '</div>' +
                                            '<img src="/images/cafejass/espresso/' + menuData[i].MENU_IMG + '" class="img-responsive" alt="img">' +
                                        '</div>' +
                                        '<div class="back" style="background: #B0C4DE;">' +
                                            '<h4>' +  menuData[i].MENU_NAME + '</h4>' +
                                            '<p>' +  menuData[i].DESCRIPTION + '.</p>' +
                                            '<h6>' +  menuData[i].MENU_PRICE + '<sup class="fa fa-won"></sup></h6>' +
                                            '<form action="#" method="post">' +
                                                '<input type="hidden" name="cmd" value="_cart">' +
                                                '<input type="hidden" name="add" value="1">' +
                                                '<input type="hidden" name="w3ls_item" value="Sandwich">' +
                                                '<input type="hidden" name="amount" value="2.00">' +
                                                '<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-coffee" aria-hidden="true"></i>' + menuData[i].MENU_TYPE + '</button>' +
                                                '<span class="w3-agile-line"> </span>' + dynamicDom +
                                            '</form>' +
                                        '</div>' +
                                    '</div>' +
                                '</div>' +
                            '</div>';
                    }
                }
            },
            error: function(request, status, error) {
                console.error("shopDetailMenu : code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    }

    var getRating = function(menuScope, dynamicDom) {
        var rating = menuScope * 2;
        var fullStar = menuScope;
        var halfStar = false;

        // 별 반개가 남으면 홀수, 아니면 짝수
        if (rating % 2 == 1) {
            halfStar = true;
            fullStar -= 0.5;
        }
        for (var i = 1; i <= 5; i++) {
            if (i <= fullStar) {
                dynamicDom += '<img src="/images/cafejass/star@1x.png">';
            } else if (halfStar) {
                dynamicDom += '<img src="/images/cafejass/star_half@1x.png">';
                halfStar = false;
            } else {
                dynamicDom += '<img src="/images/cafejass/star_dim@1x.png" alt="딤드별">';
            }
        }
        return dynamicDom;
    }

    function statusChangeCallback(response) {
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            window.location.href="https://m.facebook.com/";
        } else {
            // The person is not logged into your app or we are unable to tell.
            facebookLoginFunction();
        }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function() {
        FB.init({
            appId      : '947469771959952',
            cookie     : true,  // enable cookies to allow the server to access the session
            xfbml      : true,  // parse social plugins on this page
            version    : 'v2.3' // use graph api version 2.8
        });
    };

    // Load the SDK asynchronously
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function facebookLoginFunction() {
//        console.log('Welcome!  Fetching your information.... ');

        FB.login(function(response) {
        }, {
            scope: 'publish_actions'
        });
    }
</script>

</body>
</html>