<!DOCTYPE html>
<html lang="en">
<head>
    <title>Best Food</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Staple Food Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/font-awesome.css" rel="stylesheet"> <!-- font-awesome icons -->
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="/js/jquery-2.2.3.min.js"></script>
    <script type ="text/javascript" src="/js/toastr.js"></script>
    <!-- //js -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Yantramanav:100,300,400,500,700,900" rel="stylesheet">
    <!-- //web-fonts -->
</head>

<form style="display:none" name="current_data" id="current_data">

    <input type="hidden" name="shop_length" id="shop_length" value=""/>
    <input type="hidden" name="current_lat" id="current_lat" value=""/>
    <input type="hidden" name="current_lon" id="current_lon" value=""/>
    <input type="hidden" name="current_addr" id="current_addr" value=""/>
</form>

<form style="display:none" name="shop_addr_list" id="shop_addr_list">
</form>

<body>
<!-- banner -->
<div class="banner about-w3bnr">
    <!-- header -->
    <div class="header">
        <div class="w3ls-header"><!-- header-one -->
            <div class="container">
                <div class="w3ls-header-left">
                    <p>나의 스탬프 관리</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- //header-one -->
        <!-- navigation -->
        <div class="navigation agiletop-nav">
            <div class="container">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header w3l_logo">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1 style="float:left;"><a href="main">PaPa <p style="float:right;font-size:0.4em;margin-left:10px;">Stamp</p><span>Stamp Management System</span></a></h1>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="main">Home</a></li>
                            <li><a href="/contact" class="active">Contact Us</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- //navigation -->
    </div>
    <!-- //header-end -->
    <!-- banner-text -->
    <div class="banner-text">
        <div class="container">
            <div class="help-search">
                <form action="#" method="post" style="font-size:30px;">
                    <input id="phone-text" type="search" name="Search" placeholder="번호를 입력하세요" required="">
                </form>
            </div>

            <!-- order -->
            <div class="wthree-order" style="padding: 0.7em 0;">
                <div class="container" style="width:350px;float:left;">
                    <div class="order-agileinfo" style="margin-left:-50px;">
                        <% for (var i=0; i<=11; i++) {%>
                        <div class="col-md-3 col-sm-3 col-xs-6 order-w3lsgrids" style="width:20%;margin:10px 20px 10px;">
                            <div class="order-x3text" style="width:90px;height:90px;">
                                <i class="fa fa-volume-control-phone" aria-hidden="true" style="margin-left:7px;margin-top:5px;"></i>
                                <% if (i == 0) { %><span id="click<%= i %>">1</span>
                                    <% }else if(i == 1) {%><span id="click<%= i %>">2</span>
                                    <% }else if(i == 2) {%><span id="click<%= i %>">3</span>
                                    <% }else if(i == 3) {%><span id="click<%= i %>">4</span>
                                    <% }else if(i == 4) {%><span id="click<%= i %>">5</span>
                                    <% }else if (i == 5) { %><span id="click<%= i %>">6</span>
                                    <% }else if(i == 6) {%><span id="click<%= i %>">7</span>
                                    <% }else if(i == 7) {%><span id="click<%= i %>">8</span>
                                    <% }else if(i == 8) {%><span id="click<%= i %>">9</span>
                                    <% }else if(i == 9) {%><span id="click<%= i %>" style="font-size:2.8em;padding-top:0.4em;">clear</span>
                                    <% }else if(i == 10) {%><span id="click<%= i %>">0</span>
                                    <% }else if(i == 11) {%><span id="click<%= i %>" style="font-size:2.8em;padding-top:0.4em;">back</span>
                                <%}%>
                            </div>
                        </div>
                        <%}%>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="container" style="width:400px;float:right;text-align:right;">
                    <img class="lazyOwl" src="/images/qr-code.png" title="Our latest gallery" alt="" style="width:40%;margin-bottom:3em;"/>
                    <h3 id="click-event" style="font-size:30px;color:white;padding-left:6px;margin-bottom:3em;"></i>https://wherearevent.com/</h3>
                    <span id="btn_push" class="label label-success" style="font-size:40px;border-radius:20px;padding:7px 10px 7px 10px;margin:0.5em;">대기 번호 및 스탬프 요청</span>
                </div>
                <div class="container" style="width:200px;text-align:center;">
                    <h3 id="click-event" style="font-size:30px;color:white;margin-top:1em;margin-bottom:1em;"></i>입장 번호</h3>
                    <img class="lazyOwl" src="https://s3-ap-northeast-1.amazonaws.com/sbevent/image/lotto/lotto-number3.png" title="Our latest gallery" alt="" style="width:40%;margin-bottom:3em;"/>
                </div>
            </div>
            <!-- //order -->
        </div>
    </div>
</div>
<!-- //banner -->

<!-- //contact -->
<div class="copyw3-agile">
    <div class="container">
        <p>&copy; 2017 Staple Food. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
    </div>
</div>
<!-- //footer -->
<!-- cart-js -->
<script src="/js/minicart.js"></script>
<!-- //cart-js -->
<!-- start-smooth-scrolling -->
<script src="/js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();

            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
<script type="text/javascript">

    $(function() {
        $("#btn_push").click(
            function() {
                var sendData = $("#phone-text").val();

                sendData = sendData.replace('-', '');
                sendData = sendData.replace('-', '');
                sendData = sendData.replace('  ', '');
                sendData = sendData.replace('  ', '');

                $.ajax({
                    url: 'https://whereareevent.com/shop/fire-event/SB-SHOP-00001/'+ sendData,
                    type: 'GET',
                    success: function(data) {
                        console.log(data);
                    },
                    error: function(request, status, error) {
                        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                        console.log('Error occured');
//                            location.href='https:///error';
                }
            }
        );
    });
        /*
         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear'
         };
         */

        $().UItoTop({ easingType: 'easeOutQuart' });

        var tempNumber = '01';
        $(".order-x3text span").click(function(event){
            var index = $(".order-x3text").children('span').index(this);

            clickCss(index);

            if(index == '10') index = -1;
//
            if(index == '9') {
                $("#phone-text").val('');
                tempNumber = '01';
            }else if(index == '11') {
                var checkNumber = tempNumber.charAt(tempNumber.length-1);
//                console.log(checkNumber);
                if(checkNumber == ' ') {
                    tempNumber = tempNumber.substr(0, tempNumber.length-4);
                }else {
                    tempNumber = tempNumber.substr(0, tempNumber.length-1);
                }
                $("#phone-text").val(tempNumber);
            }else {
                tempNumber += (index+1);
//                console.log(tempNumber);
                if(tempNumber.length > 17) {
                    tempNumber = tempNumber.substr(0, tempNumber.length-1);
//                    console.log(tempNumber);
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-center",
                        "preventDuplicates": true,
                        "onclick": null,
                        "showDuration": "3000",
                        "hideDuration": "1000",
                        "timeOut": "1000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr.info('입장 대기 버튼을 누르세요~^^');
                }else {
                    if(tempNumber.length == 3 || tempNumber.length == 10) {
                        tempNumber += ' - ';
                    }
                    $("#phone-text").val(tempNumber);
                }
            }
        });

        function clickCss(index) {
            $("#click"+index).css({"-webkit-transform": "scale(0)",
                "-moz-transform": "scale(0)",
                "-o-transform": "scale(0)",
                "-ms-transform": "scale(0)",
                "transform": "scale(0)"});

            setTimeout(function() {
                $("#click"+index).css({"-webkit-transform": "scale(1)",
                    "-moz-transform": "scale(1)",
                    "-o-transform": "scale(1)",
                    "-ms-transform": "scale(1)",
                    "transform": "scale(1)"});
            }, 200);
        }
    });
</script>
<!-- //smooth-scrolling-of-move-up -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/bootstrap.js"></script>
</body>
</html>