<!DOCTYPE html>
<html lang="en">
<head>
    <title>Papa Stamp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Staple Food Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/font-awesome.css" rel="stylesheet"> <!-- font-awesome icons -->
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="/js/jquery-2.2.3.min.js"></script>
    <script type ="text/javascript" src="/js/toastr.js"></script>
    <script src="https://whereareevent.com:8060/socket.io/socket.io.js"></script>
    <!-- //js -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Yantramanav:100,300,400,500,700,900" rel="stylesheet">
    <!-- //web-fonts -->
</head>

<form style="display:none" name="current_data" id="current_data">
    <input type="hidden" name="url" id="url" value="<%= url %>"/>
    <input type="hidden" name="shop_length" id="shop_length" value=""/>
    <input type="hidden" name="shop_current_number" id="shop_current_number" value="<%= currentNumberData.SHOP_CURRENT_NUM %>"/>
    <input type="hidden" name="current_lat" id="current_lat" value=""/>
    <input type="hidden" name="current_lon" id="current_lon" value=""/>
    <input type="hidden" name="current_addr" id="current_addr" value=""/>
</form>

<form style="display:none" name="shop_addr_list" id="shop_addr_list">
</form>

<body>
<!-- banner -->
<div class="banner about-w3bnr">
    <!-- header -->
    <div class="header">
        <!-- header-one -->
        <div class="w3ls-header">
            <div class="container">
                <div class="w3ls-header-left">
                    <p>나의 스탬프 관리</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- //header-one -->
        <!-- navigation -->
        <div class="navigation agiletop-nav">
            <div class="container">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header w3l_logo">
                        <button id="papa-menu" type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1 style="float:left;color:#CD853F">PaPa<p style="float:right;font-size:0.6em;margin-left:10px;color:#EE82EE">Stamp</p>
                            <a><span>Stamp Management System</span></a></h1>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a style="color:#CD853F;" href="tabletLogout">Signout</a></li>
                            <li><a href="tabletAdmin" class="active">Admin Portal</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- //navigation -->
    </div>
    <!-- //header-end -->
    <!-- banner-text -->
    <div class="banner-text">
        <div class="container">
            <div class="help-search">
                <form action="#" method="post" style="font-size:30px;">
                    <input id="phone-text" type="search" name="Search" placeholder="번호를 입력하세요" required="">
                </form>
            </div>

            <!-- order -->
            <div class="wthree-order" style="padding: 0.7em 0;">
                <div class="container" style="width:350px;float:left;">
                    <div class="order-agileinfo" style="margin-left:-50px;">
                        <% for (var i=0; i<=11; i++) {%>
                        <div class="col-md-3 col-sm-3 col-xs-6 order-w3lsgrids" style="width:20%;margin:10px 20px 10px;">
                            <div class="order-x3text" style="width:90px;height:90px;">
                                <i class="fa fa-volume-control-phone" aria-hidden="true" style="margin-left:7px;margin-top:5px;"></i>
                                <% if (i == 0) { %><span id="click<%= i %>">1</span>
                                <% }else if(i == 1) {%><span id="click<%= i %>">2</span>
                                <% }else if(i == 2) {%><span id="click<%= i %>">3</span>
                                <% }else if(i == 3) {%><span id="click<%= i %>">4</span>
                                <% }else if(i == 4) {%><span id="click<%= i %>">5</span>
                                <% }else if (i == 5) { %><span id="click<%= i %>">6</span>
                                <% }else if(i == 6) {%><span id="click<%= i %>">7</span>
                                <% }else if(i == 7) {%><span id="click<%= i %>">8</span>
                                <% }else if(i == 8) {%><span id="click<%= i %>">9</span>
                                <% }else if(i == 9) {%><span id="click<%= i %>" style="font-size:2.8em;padding-top:0.4em;">clear</span>
                                <% }else if(i == 10) {%><span id="click<%= i %>">0</span>
                                <% }else if(i == 11) {%><span id="click<%= i %>" style="font-size:2.8em;padding-top:0.4em;">back</span>
                                <%}%>
                            </div>
                        </div>
                        <%}%>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="container" style="width:400px;float:right;text-align:right;">
                    <img class="lazyOwl" src="/images/qr-code.png" title="Our latest gallery" alt="" style="width:40%;margin-bottom:3em;"/>
                    <h3 id="click-event" style="font-size:30px;color:white;padding-left:6px;margin-bottom:3em;">https://wherearevent.com/</h3>
                    <span id="btn_push" class="label label-success" style="font-size:40px;border-radius:20px;padding:7px 10px 7px 10px;margin:0.5em;">스탬프 요청</span>
                </div>
                <div class="container" style="width:200px;text-align:center;">
                    <h3 id="click-event" style="font-size:30px;color:white;margin-top:1em;margin-bottom:1em;">대기 번호</h3>
                    <img id="shopOrderNumber" class="lazyOwl" src="/images/order/order_number_<%= currentNumberData.SHOP_CURRENT_NUM %>.png" title="Our latest gallery" alt="" style="width:80%;margin-bottom:3em;"/>
                </div>
            </div>
            <!-- //order -->
        </div>
    </div>
</div>
<!-- //banner -->

<!-- //contact -->
<div class="copyw3-agile">
    <div class="container">
        <p>&copy; 2017 Staple Food. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
    </div>
</div>
<!-- //footer -->

<div id="layerConfirmPop">
    <div class="pop_up_body">
        <p class="ti" style="color:#CD853F;">파파 스탬프<p>
        <p class="confirm_number" id="confirm_number"></p>
        <p class="copy">해당 번호로 적립 하시겠습니까?</p>
        <p class="btn_txt_nor mt20"><span class="cancle" onclick="closeLayer('layerConfirmPop')">취소</span><span class="confirm" id="btn_confirm">확인</span></p>
    </div>
</div>

<style type="text/css">
    #layerConfirmPop {display:none;position:absolute; top:50%; margin-top:-107px; background:#FFF; height:230px; width:50%}
    .pop_up-154 {margin-top:-77px !important; height:154px  !important; }
    #layerConfirmPop .pop_up_body {padding:18.5px 6.7% 17.4px}
    #layerConfirmPop .pop_up_body .ti {opacity: 0.87; font-size: 20px; line-height:29px; margin-bottom:14.5px}
    #layerConfirmPop .pop_up_body .number {opacity: 0.87; font-size: 50px; line-height:29px; margin-bottom:14.5px;font-weight: bold;}
    #layerConfirmPop .pop_up_body .set_num {border: 1px solid #979797;}
    #layerConfirmPop .pop_up_body .set_num ul li {float:left}
    #layerConfirmPop .pop_up_body .set_num img {width:59px}
    #layerConfirmPop .pop_up_body .set_num .fir {width:59px; border-right: 1px solid #979797;}
    #layerConfirmPop .pop_up_body .set_num .sec {font-size: 20px; color: #353535; line-height:59px; text-align:center; width:calc( 100% - 120px);}
    #layerConfirmPop .pop_up_body .set_num .thi {float:right !important; width:59px; border-left: 1px solid #979797;}
    #layerConfirmPop .pop_up_body .btn_txt {margin-top:45px; text-align:right}
    #layerConfirmPop .pop_up_body .btn_txt span {font-size: 20px; color: rgba(0,0,0,0.54); line-height:29px; display:inline-block; margin-left:26px}
    #layerConfirmPop .pop_up_body .copy {opacity: 0.87; font-size: 16px; color: #000000; line-height:24px; padding-top:4px}
    .confirm_number {font-size: 40px; color: #DDA0DD; !important;}
    .cancle {color: #e24945; !important;}
    .confirm {color: #1AAD19 !important;}
    #layerConfirmPop .pop_up_body .btn_txt_nor {text-align:right;}
    #layerConfirmPop .pop_up_body .btn_txt_nor span {font-size: 30px; line-height:29px; display:inline-block; margin-left:100px}
</style>

<!-- cart-js -->
<script src="/js/minicart.js"></script>
<!-- //cart-js -->
<!-- start-smooth-scrolling -->
<script src="/js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();

            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
<script type="text/javascript">
    var socket = io.connect('https://whereareevent.com:8060');

    function closeLayer(IdName){
        var pop = document.getElementById(IdName);
        pop.style.display = "none";
    }

    $(function() {
        var tempNumber = '01';
        var sendData = '';

        $("#btn_push").click(
            function() {
                sendData = $("#phone-text").val();

                if(tempNumber.length < 17) {
                    tempNumber = tempNumber.substr(0, tempNumber.length-1);
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-center",
                        "preventDuplicates": true,
                        "onclick": null,
                        "showDuration": "3000",
                        "hideDuration": "1000",
                        "timeOut": "1000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr.info('올바른 번호를 누르세요~^^');
                }else {
                    var pop = document.getElementById('layerConfirmPop');
                    pop.style.display = "block";
                    pop.style.top = "120px";
                    pop.style.left = "400px";

                    var confirmNumber = document.getElementById('confirm_number');
                    confirmNumber.innerHTML = sendData;
                }
            }
        );

        $("#btn_confirm").click(
            function() {
                closeLayer("layerConfirmPop");

                sendData = sendData.replace('-', '');
                sendData = sendData.replace('-', '');
                sendData = sendData.replace('  ', '');
                sendData = sendData.replace('  ', '');

                var couphoneShopId = 'SB-SHOP-00001';//$("#pushShopId").val();
                var dataString = {'shop_id': couphoneShopId};
                var headers = {};
                headers["user_id"] = sendData;

                $.ajax({
                    url: $("#url").val() + '/tablet/insertStampHistory',
                    type: 'PUT',
                    headers : headers,
                    dataType: 'json',
                    data : dataString,
                    success: function(data) {
                       console.log("insertStampHistory : " + data.resultData);
                    },
                       error: function(request, status, error) {
                       console.error("putStampHistory : code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    }
                });

                $.ajax({
                    url: $("#url").val() + '/shop/update-stamp',
                    type: 'POST',
                    headers : headers,
                    dataType: 'json',
                    data : dataString,
                      success: function(data) {
                       console.log("updateCouphone : " + data.resultData);
                    },
                    error: function(request, status, error) {
                       console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                       console.log('Error occured');
                    }
                });

                var currentShopNumber = $("#shop_current_number").val();
                currentShopNumber++;
                $("#shop_current_number").val(currentShopNumber);
                var updateShopCallNumber = document.getElementById("shopOrderNumber");
                updateShopCallNumber.src = '/images/order/order_number_'+currentShopNumber+'.png';
            }
        );

        $().UItoTop({ easingType: 'easeOutQuart' });

        $(".order-x3text span").click(function(event){
            var index = $(".order-x3text").children('span').index(this);

            clickCss(index);

            if(index == '10') index = -1;
//
            if(index == '9') {
                $("#phone-text").val('');
                tempNumber = '01';
            }else if(index == '11') {
                var checkNumber = tempNumber.charAt(tempNumber.length-1);
//                console.log(checkNumber);
                if(checkNumber == ' ') {
                    tempNumber = tempNumber.substr(0, tempNumber.length-4);
                }else {
                    tempNumber = tempNumber.substr(0, tempNumber.length-1);
                }
                $("#phone-text").val(tempNumber);
            }else {
                tempNumber += (index+1);
//                console.log(tempNumber);
                if(tempNumber.length > 17) {
                    tempNumber = tempNumber.substr(0, tempNumber.length-1);
//                    console.log(tempNumber);
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-center",
                        "preventDuplicates": true,
                        "onclick": null,
                        "showDuration": "3000",
                        "hideDuration": "1000",
                        "timeOut": "1000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr.info('스탬프 요청 버튼을 누르세요~^^');
                }else {
                    if(tempNumber.length == 3 || tempNumber.length == 10) {
                        tempNumber += ' - ';
                    }
                    $("#phone-text").val(tempNumber);
                }
            }
        });

        function clickCss(index) {
            $("#click"+index).css({"-webkit-transform": "scale(0)",
                "-moz-transform": "scale(0)",
                "-o-transform": "scale(0)",
                "-ms-transform": "scale(0)",
                "transform": "scale(0)"});

            setTimeout(function() {
                $("#click"+index).css({"-webkit-transform": "scale(1)",
                    "-moz-transform": "scale(1)",
                    "-o-transform": "scale(1)",
                    "-ms-transform": "scale(1)",
                    "transform": "scale(1)"});
            }, 200);
        }
    });
</script>
<!-- //smooth-scrolling-of-move-up -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/bootstrap.js"></script>
</body>
</html>